<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-blue">
        <h2>Services <%= link_to("- Add New Service", new_service_path) if current_user.try(:admin?) || current_user.try(:employee?) %>
        <%= link_to("- Add New Category", new_category_path) if current_user.try(:admin?) || current_user.try(:employee?) %></h2>
      </div>
    </div>
  </div>
</section>

<!--About Content-->
<section id="blue-container">
  <div class="container">
    <div class="row">

      <div class="col-md-2 margin-50">
        <h3>Category:</h3>
        <%= form_tag("/services", method: "get") do %>
          <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "title"), include_blank: true %>
          <%= submit_tag "Filter" %>
        <% end %>
      </div>

      <div class="col-md-10 margin-50">

        <% if !params[:category_id].blank? %>
          <% @services = Service.where(category_id: params[:category_id]) %>
        <% end %>

        <% @services.each do |service| %>
          <h3><%= service.title %> - <%= number_to_currency(service.price) %>
            <%= link_to " | Edit", edit_service_path(service) if current_user.try(:admin?) || current_user.try(:employee?) %></h3>
          <p class="white"><%= link_to "See all #{service.category.title}", category_services_path(service.category) %></p>
          <p class="white"><%= service.description %></p>
        <% end %>

        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to "Schedule New Appointment", new_appointment_path, class: "btn-main" %>     
          </div>
        </div>

      </div><!--End Span12-->
    </div>
  </div>
</section>

<%= render 'layouts/bottom_message' %>