<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-blue">
        <h2>Services <%= link_to("- Add New Service", new_service_path) if current_user.try(:admin?) || current_user.try(:employee?) %>
        <%= link_to("- Add New Category", new_category_path) if current_user.try(:admin?) || current_user.try(:employee?) %></h2>
      </div>
    </div>
  </div>
</section>

<section id="blue-container">
  <div class="container">
    <div class="row">

      <div class="col-md-3 margin-50">
        <h3>Category:</h3>
        <%= form_tag("/services", method: "get") do %>
          <%= select_tag "category_id", content_tag(:option,'All Styles',:value=>" ") + options_from_collection_for_select(Category.all, "id", "title") %>
          <%= submit_tag "Filter", class: "btn-main" %>
        <% end %>

        <h3>Quick Add:</h3>
        <%= form_for(Service.new, html: { class: "new_service form-horizontal quick-add" }) do |f| %>
          <%= f.text_field :title, class: "input-xlarge col-xs-8", placeholder: 'Service Name' %><br>
          <%= f.number_field :price, class: "input-xlarge col-xs-8", placeholder: "Price" %><br>
          <%= f.file_field :avatar, class: "btn-main col-xs-8" %>
          <%= f.collection_select(:category_id, Category.all, :id, :title, {prompt: "Please Select a Category"}, {class: "input-xlarge col-xs-8", placeholder: "COJ"}) %><br>
          <%= f.submit class: "btn-main col-xs-8" %>
        <% end %>
      </div>

      <div class="col-md-9 margin-50">
        <div id="serviceResult">
          <h3 id="serviceTitlePrice">
          <p id="serviceDescription"></p>
        </div>

        <% if !params[:category_id].blank? %>
          <% @services = Service.where(category_id: params[:category_id]) %>
        <% end %>
  
        <% @services.each do |service| %>
          <h3><%= service.title %> - <%= number_to_currency(service.price) %>
            <%= link_to " | Edit", edit_service_path(service) if current_user.try(:admin?) || current_user.try(:employee?) %></h3>
            <%= image_tag service.avatar.url %>
          <p class="white"><%= link_to "See all #{service.category.title}", category_services_path(service.category) %></p>
          <p class="white"><%= service.description %></p>
        <% end %>

        <div class="row">
          <div class="col-md-12 text-center">
            <%= link_to "Schedule New Appointment", new_appointment_path, class: "btn-main" %>     
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render 'layouts/bottom_message' %>

<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h3>{{title}} - {{price}}</h3>
    <p>{{description}}</p>
  </div>
</script>