<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-blue">
        <h2>Sign Up</h2>
      </div>
    </div>
  </div>
</section>

<section id="blue-container">
  <div class="container">
      <div class="row">
        
        <div class="col-sm-6 col-sm-offset-3 text-center form-container">
            
        <ul class="social-icons">
          <li><a class="twitter" href="#" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a class="facebook" href="#" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
          <li><a class="google" href="#" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>
        </ul>
           
        <hr>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name, id: "login-form", class: "form-horizontal")) do |f| %>

          
<div class="small-message"><%= devise_error_messages! %></div>
          <div class="field">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <%= f.email_field :email, autofocus: true, class: "input-xlarge col-xs-8 col-xs-offset-2", placeholder: "Email" %>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <% if @minimum_password_length %>
                    <em class="small-message">(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "input-xlarge col-xs-8 col-xs-offset-2", placeholder: "Password" %>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control-group">
              <div class="controls">
                <div class="row">
                  <%= f.password_field :password_confirmation, autocomplete: "off",  class: "input-xlarge col-xs-8 col-xs-offset-2", placeholder: "Password Confirmation" %>
                </div>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="control-group">
              <div class="controls">
                <%= f.submit "Sign up", class: "btn-main margin-10" %>
              </div>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div><!--End Col 6-->
    </div><!--End Row-->
  </div><!--End Container-->
</section>