<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-white">
        <h2>All Users</h2>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row margin-60">
      
      <% @users.each do |user| %>
        <div class="col-md-6">
          <h4 class="dark-gray"><b><%= user.name %></b> - <%= user.email%></h4>
          <a href="#" class="js-view-appt" data-id="<%= user.id %>">View Appointments</a>
          <ul id="user-<%= user.id %>-appointments">
          </ul>
        </div>
      <% end %>
    
    </div>     
  </div>
</section> 

<%= render 'layouts/bottom_message' %>