<%= @appointment.dateandtime %>
<% @appointment.services.each do |service| %>
  <div><%= service.title %> - <%= number_to_currency(service.price) %></div>
<% end %>

<p>Order total: <%= number_to_currency(@appointment.total) %> </p>

<%= render 'charges/stripe_button' unless @appointment.paid %>

<%= button_to "Cancel Appointment", @appointment, data: { confirm: "Are you sure?" }, method: :delete %>