<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-white">
        <h2><%= @category.title %></h2>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3><span class="blue">Styles</span></h3>
        <ul>        
          <% @category.services.each do |service| %>
            <li class="lead"><%= service.title %> - <%= number_to_currency(service.price) %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-4">
        <%= link_to("Add New Service", new_category_service_path(@category), class: "btn-main") if current_user.try(:admin?) || current_user.try(:employee?) %>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/bottom_message' %>