<!DOCTYPE html>
<html>
  <head>
    <title>FlatironCutsAndCurls</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <h1>Cuts N Curls</h1>
    <h2>Hair Salon</h2>
    <%= render 'users/stylist_form' unless current_user.have_stylist? if current_user %>
    <%= yield %>
  </body>
</html>
